/*
        TABLE OF CONTENT  ::
            -- SIGN IN PAGE
            -- RESPONSIVE FOR FORM
            -- FORGET FORM
*/


/* Sign In */
.sign-in {
}
.sign-in .overlay,
.sign-up .overlay {
    flex-direction: column;
    gap: 15px;
}

form.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 30px 65px;
    outline: 2px solid #fff;
    border-radius: 5px;
}
@media (max-width: 776px) {
    form {
        width: 60vw;
        padding: 30px 30px;
    }
}
form.sign-in h2 {
    font-size: 32px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 28px;
    text-align: center;
}
form.sign-in input {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}

form.sign-in input[type="email"] {
    color: var(--brwn);
    font-weight: bold;
}
form.sign-in input[type="password"] {
    color: var(--brwn);
    font-weight: bold;
}

form.sign-in input[type="button"] {
    background-color: var(--brwn);
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .1s;
}
form.sign-in input[type="button"]:hover {
    opacity: .9;
}
form.sign-in .btn {
    width: unset;
}
.forget-link {
    width: fit-content;
    margin: 22px auto 0 auto;
    color: #fff;
    text-transform: capitalize;
    font-weight: 800;
    cursor: pointer;
    transition: all .5s;
}
.forget-link:hover {
    color: #4caf50;
    font-size: 16.2px;
}
@media (max-width: 776px) {
    form.sign-in {
        width: 70% !important;
        padding: 15px !important;
    }
    form.sign-in h2 {
        font-size: 20px !important;
    }
    form.sign-in input {
        font-size: 15px !important;
        padding: 5px 8px !important;
    }
    .out-lnk {
        font-size: 16px !important;
    }
}
.out-lnk {
    margin-top: 35px;
    font-size: 22px;
    text-transform: capitalize;
}
.out-lnk p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}
.out-lnk a {
    color: #fff;
    font-weight: bolder;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    transition: all .4s;
}
.out-lnk a:hover {
    margin-left: 15px;
}
.out-lnk a i {
    font-size: 15px;
    margin-left: 5px;
}

.err {
    padding: 20px;
    border-radius: 10px;
    font-size: 32px;
    background-color: var(--brwn);
    width: 65vw;
    border: 3px solid;
    color: #fff;
}
.try-again {
    display: block;
    margin: 15px 0px 0px auto;
    font-size: 20px;
    background-color: var(--brwn-light);
}
.try-again:hover {
    scale: 1.02;
}
.loading {
    font-size: 36px;
    color: darksalmon;
    font-weight: bold;
}
form.forgot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(--brwn);
    color: #fff;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid white;
    transition: all 1s;
}
form.forgot.hide {
    transform: translate(-50%, -100vh) scale(0);
}
form.forgot.show {
    transform: translate(-50%, -50%) scale(1);
}
form.forgot input {
    background-color: #fff;
    padding: 5px 8px;
    margin: 10px auto;
    border-radius: 3px;
    width: 70%;
    font-size: 16px;
    color: var(--brwn);
    font-weight: bold;
}
form.forgot button {
    background-color: var(--brwn-light);
    color: white;
    width: 30%;
    font-size: 16px;
}
form.forgot .mess {
    background-color: #fff;
    color: var(--brwn);
    font-weight: 600;
    padding: 6px 22px;
    border-radius: 10px;
    border: 1px solid;
    transition: all 1s;
    /* display: none; */
    transform: scale(0);
    width: 0;
    height: 0;
}
form.forgot .mess.show{
    /* display: block; */
    transform: scale(1);
    width: unset;
    height: unset;
}
form.forgot .close-icn {
    
}
form.forgot .close-icn i {
    margin: 5px 5px 5px auto;
    cursor: pointer;
    color: white;
    transition: all .3s;
}
form.forgot .close-icn i:hover {
    color: rgb(255, 145, 145);
    scale: 1.1;
}