footer {
    font-size: 24px;
    background-color: #009688;
    background-color: var(--brwn);
    color: white;
    box-shadow: 0px -2px 2px 0px; /*new*/
}
@media (max-width: 406px) {
    footer {
        font-size: 14px;
    }
}
footer .container {
    height: 8vh;
}
footer .container i {
    color: var(--brwn-light);
}
footer .container span {
    text-transform: capitalize;
}
footer .container span .my-name {
    border-bottom: 2px solid;
    margin: auto 10px;
}
.my-name.ar {
    font-family: "Noto Nastaliq Urdu", serif;
}