.profile {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .container {}

.profile .container h1 {
    text-align: center;
    font-size: 36px;
    color: darkslategrey;
}

.profile .container .info {
    padding: 22px;
    border: 2px solid white;
    border-radius: 8px;
}

.profile .container .info div {
    margin-bottom: 20px;
    color: darkslateblue;
    font-weight: bold;
}

.profile .container .info div span {
    color: cadetblue;
}
.profile .container .btn {
    display: block;
    margin: 5px 5px 5px auto;
}
@media (max-width:450px){
    .profile {
        text-align: center;
        font-size: 16px;
    }
    .profile .container .info div span {
        display: block;
    }
}