header {
    background-color: #009688;
    background-color: var(--brwn);
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    position: relative;
    box-shadow: 0px 2px 2px 0px; /*new*/
}
header .container {
    height: 8vh;
}
header .container .logo {
    font-size: 32px;
    letter-spacing: 2px;
}
header .container .nav {}
.nav li {}
.nav li a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all .3s;
}
.nav li a:hover,
.nav li a.active {
    background-color: darkslategrey;
    background-color: var(--brwn-light);
}
li.lang {
    position: relative;
    cursor: pointer;
}
li.lang p {}
li.lang ul.lang-opt {
    position: absolute;
    top: 5vh;
    left: -19px;
    background-color: #009688;
    background-color: var(--brwn-light);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    z-index: 999;
    /* display: none; */
    scale: 0;
    transition: all .6s;
}
li.lang:hover ul.lang-opt {
    scale: 1;
}
li.lang ul.lang-opt li {   
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .6s;
    cursor: pointer;
}
li.lang ul.lang-opt li:not(:last-of-type) {
    margin-bottom: 15px;
}
li.lang ul.lang-opt li:hover,
li.lang ul.lang-opt li.active {
    background-color: white;
    color: #009688;
    color: var(--brwn);
}
/* .logout-icn {
    margin-left: 30px;
    font-size: 24px;
    text-shadow: 1px 2px 2px #000;
    cursor: pointer;
    transition: all .3s;
} */
.logout-icn {
    font-size: 24px;
    cursor: pointer;
    transition: all .3s;
    background-color: white;
    color: var(--brwn);
    font-size: 19px;
    padding: 3px;
    border-radius: 3px;
    width: fit-content;
    display: block;
    margin: 1px 75px 1px auto;
}
.logout-icn:hover {
    scale: 1.03;
}
.logout-icn i {
    margin: auto 10px;
    font-size: 16px;
}
header .icon {
    display: none;
    cursor: pointer;
}
header .icon i {
    transition: all .5s;
}
header .icon:hover i {
    transform: rotate(-90deg);
}
.nav-when-small {
    padding: 10px;
    border-top: 1px solid;
    position: absolute;
    background-color: var(--brwn);
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    width: 100%;
    z-index: 5;
}
.nav-when-small li.lang {
    position: relative;
}
.nav-when-small li.lang ul.lang-opt {
    scale: 1;
    display: none;
    left: 9vw;
    position: static;
    margin-top: 10px;
}
li.lang:hover ul.lang-opt {
    display: block;
}
.nav-when-small.show {
    display: show;
}
.nav-when-small.hide {
    display: none;
}
.nav-when-small li {}
.nav-when-small li.logout {
    text-align: end;
    transition: all .3s;
}
.nav-when-small li.logout:hover {
    margin-right: 15px;
    margin-bottom: 10px;
}
.nav-when-small li a {
    display: block;
    padding: 5px 10px;
    margin-bottom: 11px;
    border-radius: 6px;
    transition: all .4s;
    width: 80%;
    margin: 10px auto;
}
.nav-when-small li a:hover,
.nav-when-small li a.active {
    background-color: var(--brwn-light);
}


@media (max-width: 776px) {
    .nav {
        display: none;
    }
    header .icon {
        display: block;
    }
    header .container .logo {
        font-size: 24px;
        letter-spacing: 0px;
        font-weight: 700;
    }
}
@media (min-width: 776px) {
    .nav-when-small {
        display: none;
    }
}
