header {
    height: 10vh;
    background-color: #eee;
    background-color: var(--clr-main);
}
header .logo {
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px grey;
    color: white;
}
header ul.nav {
    color: white;
}
header ul.nav a {}
header ul.nav a li {
    padding: 5px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    transition: all .3s;
}
header ul.nav a li:hover {
    margin-bottom: 7px;
}