/*
    || TABLE OF CONTENT :
        -- GENERAL CODES [body,ul,a,container,etc..]
        -- SMALL LIBRARY [flx,btn,etc..]
        -- ERROR PAGE STYLE
        --
*/


/*  GENERAL  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

:root {
    --brwn: #795548;
    --brwn-light: #927267;
    --brwn-transparent: rgb(121 85 72 / 53%);
    --brwn-secondary: #f08080;
    /* --dark: #333;
    --dark-light: #607D8B;
    --dark-transparent: #333333b8; */
}


body {
    font-family: sans-serif;
    background-color: rgb(223, 224, 224);
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

input,
input:focus {
    border: none;
    outline: none;
}

ul,
ol {
    list-style: none;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
main {
    min-height: 84vh;
    padding: 30px 0;
}


@media (max-width: 776px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/*  SMALL LIBRARY  */
.flx-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flx-arround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxed {
    background-color: #eee;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    text-transform: capitalize;
}
.btn {
    padding: 5px 10px;
    border: 2px solid;
    border-bottom: 4px solid;
    width: fit-content;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
}

@media (max-width: 442px) {
    .btn {
        font-size: 12px;
        border: 1px solid;
        border-bottom: 3px solid;
    }
}
.btn:hover {
    scale: 1.02;
}
.drk-btn {
    background-color: var(--clr-main);
    color: white;
}
.light-btn {
    color: var(--clr-main);
    background-color: white;
}
.danger-btn {
    background-color: indianred;
    color: white;
    transition: all .5s;
}
.danger-btn:hover {
    scale: 1.2;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.gap-10 {
    gap: 10px;
}
/* .cntnt {
    height: 75vh;
} */
.section-hdr {
    text-align: center;
    margin: 25px auto;
    color: var(--clr-main);
    border-bottom: 3px solid #726f6f;
    padding-bottom: 8px;
    width: 16vw;
    text-transform: capitalize;
}
/* .vh-84 {
    height: 84vh;
} */
.main-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: none;
    
}
@media (max-width: 776px) {
    .main-grid {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
        justify-content: center;
    }
}


/* Err404 */
.error-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brwn);
}
.error-page h1 {
    color: rgb(237, 37, 77);
    margin: 35px auto;
}
.error-page .sorry {
    color: white;
}
.error-page p {
    font-size: 26px;
    margin-top: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--brwn);
    border-top: 5px solid rgb(237, 37, 77);
}

